
.overlay.active {
	visibility: visible;
}

.popup {
	background: #ffffff !important;
	border-radius: 3px;
	padding: 20px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup > h3{
	text-align: center;
} 

.popup > form  > .btn{
	text-align: center;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	width: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    margin-left: 443px;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}


.popup h3 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 20px;
	opacity: 0;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}


#edt{
    padding-left: 30px;
}
    



